**/__pycache__
**/pytest_cache
**/*.egg
**/*.egg-info
**/.cache
**/.config
**/.wget*
**/dist
**/eggs
**/build
**/.ipynb_checkpoints
**/*.npy
**/*.rdzw
**/*.xyzw
**/*.blg
**/*.bbl
**/*.pdf
**/*.aux
**/*.log
**/*.out
**/_build
**/bak*
**/lib
**/wisdom*
**/_tests
**/_catalogs
**/_codes
**/*_multigrid.c
**/*.so

# Unit test / coverage reports
**/.coverage
